nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2c3e50;
    padding: 10px 0;
    z-index: 1000;
}

 /* Centrado del contenido */
nav>ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

 /* Estilos de los enlaces */
nav>ul>li {
    margin: 0 20px;
}

nav>ul>li>a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav>ul>li>a:hover {
    color: #f39c12;
}

